body {
	padding:0;
	margin:0;
}
.rankingsPage{
font-family:"NeueMachina-Regular";
}
.aboutPage{
font-family:"NeueMachina-Regular";
color:#04D9FF;
font-family:"NeueMachina-Regular";
background-color:#C7F7E8;
}
.newsletterPage{
font-family:"NeueMachina-Regular";
color:#04D9FF;
font-family:"NeueMachina-Regular";
background-color:#F7F2F9;
}
.app-header {
    height: 100px;
    line-height: 60px;
    border-bottom: #04D9FF solid;
    font-family:"NeueMachina-Regular";
    padding:0;
    margin:0;
}
.app-header .app-header--title {
    font-size: 50px;
    position: absolute;
    top:25px;
    padding-left: 100px;
    margin:0;
}
.app-header #app-header--rankings {
    font-size: 26px;
    position: absolute;
    top:25px;
    right:26%;
    color:#723BC9;
}
.app-header #app-header--newsletter {
    font-size: 26px;
    position: absolute;
    top:25px;
    right:15.5%;
    color:#723BC9;
}
.app-header #app-header--about {
    font-size: 26px;
    position: absolute;
    top:25px;
    right:8.5%;
    color:#723BC9;
}
.app-header #app-header--rankings:hover {
    color:#723BC980;
}
.app-header #app-header--about:hover {
    color:#723BC980;
}
.app-header #app-header--newsletter:hover {
    color:#723BC980;
} 
table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    font-family: "NeueMachina-Regular";
    width: 85%;
    margin-left:7.5%; 
    margin-right:7.5%;
    text-align: center;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #AAAAAA80;
  color: #723BC9;
  font-size: 20px;
}
tr {
    font-size: 1em;
}
tr td {
  padding: 6px 6px;
  background-color: #D2DFEA;
  color: #723BC9;
  font-size: 20px;
}
tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
a {
	color:#723BC9;
	font-family:"NeueMachina-Regular";
}
.footer {
	height: 60px;
    line-height: 60px;
    border-top: thin #04D9FF solid;
	padding-bottom: 4em;
	background-color:white;
	position: relative;
    margin: 4rem 0 0;
    margin-top: 4rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
}
.footer #footer-text {
 color:#723BC9;
 font-family:"NeueMachina-Regular";
 position: absolute;
 right:10%;
}
.about-section {
	height: 800px;
	color:#723BC9;
}
.about-section #about-section-header {
	position:absolute;
	font-size: 48px;
	left: 280px;
	top: 180px;
}
.about-section #about-section-content {
	position:absolute;
	left: 680px;
	top: 150px;
	width: 600px;
	font-size: 32px;
}
.Newsletter-content {
	height: 800px;
	color:#723BC9;
}
.Newsletter-content #subscribe{
	position:absolute;
	font-size: 44px;
	left: 180px;
	top: 180px;
}
.Newsletter-content #button-sub{
	position:absolute;
	font-size: 44px;
	left: 450px;
	top: 180px;
	font-style: italic;
	color: #04D9FF;
}